$colorPrimary: #1473ec
$colorYellow: #FED215
$colorSkyblue: #3ABEF0
$colorBlack: #2e2d32
$colorGrey: #e0dede
$colorForm: #f9fafc

body
  color: $colorBlack

.text
  &-xxs
    font-size: 10px

.ss
  &-frame
    position: relative
    max-width: 480px
    margin: 0 auto
  &-max-frame
    max-width: 480px
  &-page
    margin-bottom: 80px
    margin-top: 60px
    &-index
      margin-bottom: 80px
  &-header
    position: fixed
    z-index: 9999999999
    width: 100%
    top: 0
    left: 0
    &-index
      position: fixed
      z-index: 9999999999
      width: 100%
    & a
      & i
        font-size: 18px
  &-shadow
    box-shadow: 0 0 10px #ccc
  &-input
    transition: .2s ease-in
    outline: none !important
    &-icon
      font-size: 22px
      position: absolute
      top: 10px
      left: 10px
      color: $colorGrey
    &:focus
      color: $colorBlack
      &-icon
        display: none
  &-navigation
    z-index: 999 !important
    position: fixed
    background-color: #ffffff
    &-list
      @apply text-black
      &.active
        @apply text-primary
        .ss-navigation-icon
          fill: $colorPrimary
  &-card
    &-product
      position: relative
      overflow: hidden
      width: 100%
      transition: .2s ease-in
      &::before
        content: ''
        position: absolute
        bottom: -30px
        right: -30px
        width: 80px
        height: 80px
        border-radius: 50%
        transition: .2s ease-in
        background-color: $colorPrimary !important
      &::after
        content: ''
        position: absolute
        bottom: -30px
        right: -30px
        width: 84px
        height: 84px
        border-radius: 50%
        transition: .2s ease-in
        border: 2px solid $colorPrimary
        background-color: transparent
      &-category
        position: relative
        overflow: hidden
        width: 150px
        transition: .2s ease-in
        &::before
          content: ''
          position: absolute
          top: -30px
          right: -30px
          width: 0
          height: 70px
          border-radius: 50%
          transition: .2s ease-in
          background-color: $colorPrimary !important
        &::after
          content: ''
          position: absolute
          top: -30px
          right: -30px
          width: 0
          height: 74px
          border-radius: 50%
          transition: .2s ease-in
          border: 2px solid $colorPrimary
          background-color: transparent
        &:hover::before
          width: 70px
        &:hover::after
          width: 74px
        &:hover
          border-color: $colorPrimary
  &-category
    &-menu
      @apply pt-4
      @apply px-4
      padding-bottom: 8.5rem
      position: fixed
      width: 100px
      height: 100%
      overflow: scroll
      &-box
        cursor: pointer
        &:hover
          @apply bg-primary
          @apply text-form
        &.active
          @apply bg-primary
          @apply text-form
    &-sub
      @apply py-4
      @apply pr-4
      margin-left: 100px
  &-shadow
    box-shadow: 0 0 25px -4px $colorGrey
.sd
  &-header
    border-bottom: 1px solid $colorGrey
  &-btn
    outline: none !important
    @apply px-4
    @apply py-1
    @apply rounded-md
    &-primary
      border: 1.6px solid $colorPrimary
      color: $colorForm
      background-color: $colorPrimary
    &-outline-primary
      border: 1.6px solid $colorPrimary
      @apply text-primary
  &-input
    transition: .2s ease-in
    border: 1px solid $colorGrey
    outline: none !important
    &:focus
      color: $colorBlack
    &-btn
      transition: .2s ease-in
      border: 1px solid $colorGrey
      outline: none !important
  &-link
    transition: .2s ease-in
    &:hover
      color: $colorPrimary
    &:focus
      outline: none
  &-banner
    height: 400px
    &-golden
      height: 200px
  &-section
    &-divider
      border-top: 1px solid $colorGrey
    &-header
      @apply font-semibold
      @apply text-2xl
      @apply tracking-wide
  &-category
    img
      @apply rounded-md
      @apply border
      border-color: transparent
      transition: .2s ease-in
    &:hover img
      @apply border-primary
  &-card
    &-product
      position: relative
      overflow: hidden
      width: 100%
      transition: .2s ease-in
      &::before
        content: ''
        position: absolute
        bottom: -30px
        right: -30px
        width: 0
        height: 80px
        border-radius: 50%
        transition: .2s ease-in
        background-color: $colorPrimary !important
      &::after
        content: ''
        position: absolute
        bottom: -30px
        right: -30px
        width: 0
        height: 84px
        border-radius: 50%
        transition: .2s ease-in
        border: 2px solid $colorPrimary
        background-color: transparent
      &:hover::before
        width: 80px
      &:hover::after
        width: 84px
      &-category
        position: relative
        overflow: hidden
        width: 150px
        transition: .2s ease-in
        &::before
          content: ''
          position: absolute
          top: -30px
          right: -30px
          width: 0
          height: 70px
          border-radius: 50%
          transition: .2s ease-in
          background-color: $colorPrimary !important
        &::after
          content: ''
          position: absolute
          top: -30px
          right: -30px
          width: 0
          height: 74px
          border-radius: 50%
          transition: .2s ease-in
          border: 2px solid $colorPrimary
          background-color: transparent
        &:hover::before
          width: 70px
        &:hover::after
          width: 74px
        &:hover
          border-color: $colorPrimary

.gl
  &-star
    fill: $colorYellow
    color: $colorYellow

input,
textarea,
button,
select,
a,
div
  -webkit-tap-highlight-color: rgba(0,0,0,0)

.fade-enter-active, .fade-leave-active 
  transition: opacity .2s
.fade-enter, .fade-leave-active
  opacity: 0